* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

div.container {
  display: flex;
  height: 100%;
  width: 100%;
}

#sidebar {
  height: 100%;
  width: 200px;
  padding-top: 30px;
  background-color: var(--gray9);
}

#sidebar .option {
  width: 200px;
  padding: 5px 0 5px 20px;
  color: var(--gray0);
  font-family: Lato, sans-serif;
  font-size: 14px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#sidebar .option:hover {
  background: rgba(var(--gray8), 0.5);
}

#sidebar .option i {
  padding-right: 10px;
}

#viewer {
  height: 100%;
  flex-grow: 1;
  background-color: var(--gray1);
  box-shadow: -1px 0 20px #212121;
}

#viewer iframe {
  height: 100%;
  width: 100%;
  border-width: 0;
}
